<h1>Dashboard</h1>

<div class="card">
  <h4 class="card-header">Edit Post</h4>
  <div class="card-body">
    <form class="px-4 py-3 update-form">
      <input type="hidden" id="post-id" name="post-id" value="{{id}}">
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" class="form-control" id="post-title" value="{{title}}">
      </div>
      <div class="form-group">
        <label for="post-content">Content</label>
        <textarea type="text" class="form-control" id="post-content" rows="5">{{content}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Update</button>
      <div class="delete-post">
        <button class="btn btn-sm btn-danger" data-id="{{id}}">DELETE</button>
      </div>
    </form>
  </div>
</div>


<script src="/js/update-delete.js"></script>